@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body,
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

html {
  overflow: hidden;
  background: #000000;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  animation: fadeIn 0.8s ease-in-out forwards;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

input {
  background: none;
  border: 0;
  font-size: 22px;
  color: white;
  border-bottom: 2px solid white;
}

input::placeholder {
  color: white;
  opacity: 0.7;
}

input:focus,
input:active {
  outline: none;
}

/* bg */
img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  object-fit: cover;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#worldTime {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

#worldTime span {
  width: 10%;
  min-width: 93px;
  max-width: 120px;
  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

#weather {
  font-style: italic;
  font-size: 1.2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#weather span:last-child {
  opacity: 0.5;
}

/* clock */
#date {
  font-size: 3rem;
  opacity: 0.8;
}

#clock {
  font-size: 8rem;
}

/* Greetings */
.greetingContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 3.4rem;
  padding-top: 7px;
  padding-bottom: 25px;
}

#btnLogout {
  margin-top: 5px;
}

#login-form {
  padding-top: 17px;
}

/* todo list */
#todo-edit-form {
  margin-left: 37px;
}

#toDoEditInput,
#toDoInput,
#loginFormInput {
  width: 40rem;
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  padding-bottom: 60px;
  width: 450px;
}

#todo-list li {
  font-size: 2.2rem;
  list-style: circle;
}

#todo-list li span:hover {
  cursor: pointer;
}

#btnClearToDo {
  cursor: pointer;
  border-radius: 15px;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 17px;
}

button {
  cursor: pointer;
  transform: scale(1.2);
  border-radius: 50px;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

button:hover,
li span:hover,
#btnClearToDo:hover {
  opacity: 0.7;
}

fotter {
  opacity: 0.7;
  position: absolute;
  bottom: 25px;
  margin: auto 13px;
}

.checked {
  text-decoration: line-through;
}

@media screen and (max-width: 500px) {
  #worldTime {
    font-size: 3.2vw;
    gap: 3vw;
  }

  #date {
    font-size: 6vw;
  }

  #clock {
    font-size: 16vw;
  }

  .greetingContainer {
    font-size: 6.8vw;
  }

  #toDoEditInput,
  #toDoInput,
  #loginFormInput,
  #todo-list {
    width: 80vw;
  }

  #todo-list li,
  #toDoInput,
  #toDoEditInput,
  #loginFormInput {
    font-size: 4.4vw;
  }

  fotter {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 400px) {
  #worldTime {
    flex-direction: column;
  }

  #toDoEditInput,
  #toDoInput,
  #loginFormInput {
    width: 70vw;
  }
}
