body {
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  
  .hidden {
    display: none;
  }
  
  img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    opacity: 80px;
  }
  
  #reset {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  
  #clock {
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -22%);
    font-size: 150px;
  }
  #login-form,
  #greeting {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    font-size: 50px;
  }
  
  input[type="submit"] {
    display: none;
  }
  
  #greeting {
    text-align: center;
  }
  
  #todo-form {
    position: absolute;
    left: 50%;
    bottom: 17%;
    transform: translate(-50%, -17%);
    display: grid;
    font-size: 30px;
    white-space: nowrap; /* 텍스트가 한 줄로 나오도록 설정 */
  }
  
  input {
    font-size: min(30px, 5vw);
    text-align: center;
    color: white;
    border: none; /* 기본 테두리 제거 */
    border-bottom: 2px solid white; /* 밑줄 추가 및 색상 설정 */
    outline: none; /* 포커스 효과 제거 */
    padding: 5px 0; /* 선택적으로 내부 여백 추가 */
    background-color: transparent; /* 배경색을 투명으로 설정 */
  }
  
  #todo-list {
    position: relative;
    left: 70%;
    top: 43rem;
    font-size: 25px;
    display: block;
    width: 100px;
    list-style: none;
    max-width: min(525px, 50vw);
    overflow-y: hidden;
  }
  
  #todo-list > li > button {
    background-color: #ff5252; /* 삭제 버튼 색상 */
    color: white; /* 텍스트 색상 */
    border: none;
    padding: 0.5px 4px; /* 내부 여백 조절 */
    cursor: pointer;
    border-radius: 5px; /* 둥근 테두리 설정 */
    font-size: 12px;
  }
  
  #quote {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    font-size: 15px;
    display: grid;
    white-space: nowrap; /* 텍스트가 한 줄로 나오도록 설정 */
    place-items: center;
    z-index: 2;
  }
  
  #weather {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }